# Node modules
client/node_modules/

# Python cache files
__pycache__/
*.pyc

# Vercel build output (if any locally)
.vercel

# Build output from React
client/build/

# Virtualenvs (if any)
api/env/
api/venv/

# OS files
.DS_Store
Thumbs.db

# Log files and environment configs
*.log
.env
*.sqlite3

# Large files (optional: exclude test assets, media, etc.)
*.zip
*.mp4
*.mov
*.exe
*.tar.gz